html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    background: #FFFFFF;
	-webkit-text-size-adjust: none;
	overflow: hidden;
}

img {
	border: 0;
}

a {
	outline: 0;
}

@-webkit-keyframes blink { 
	0% {
        border: 2px solid #972c5a; 
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; 
        background: none; 
    }
	50% {
        border-color: #ed5685;
        -moz-box-shadow: 0 0 5px rgba(255,91,143,.29);
        -webkit-box-shadow: 0 0 5px rgba(255,91,143,.29);
        box-shadow: 0 0 5px rgba(255,91,143,.29);          
	}
	100% { 
        border: 2px solid #872452; 
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;  	   
	}
}

@-moz-keyframes blink {
	0% {  
        border: 2px solid #972c5a; 
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; 
    }
	50% {
        border-color: #ed5685;
        -moz-box-shadow: 0 0 5px rgba(255,91,143,.29);
        -webkit-box-shadow: 0 0 5px rgba(255,91,143,.29);
        box-shadow: 0 0 5px rgba(255,91,143,.29);	          
	}
	100% {
        border: 2px solid #872452; 
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; 	   
	}
}

@-o-keyframes blink {
	0% {  
        border: 2px solid #972c5a; 
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; 
    }
	50% {
        border-color: #ed5685;
        -moz-box-shadow: 0 0 5px rgba(255,91,143,.29);
        -webkit-box-shadow: 0 0 5px rgba(255,91,143,.29);
        box-shadow: 0 0 5px rgba(255,91,143,.29);	          
	}
	100% {
        border: 2px solid #872452; 
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; 	   
	}
}

@keyframes blink {
	0% {  
        border: 2px solid #972c5a; 
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; 
    }
	50% {
        border-color: #ed5685;
        -moz-box-shadow: 0 0 5px rgba(255,91,143,.29);
        -webkit-box-shadow: 0 0 5px rgba(255,91,143,.29);
        box-shadow: 0 0 5px rgba(255,91,143,.29);	          
	}
	100% {
        border: 2px solid #872452; 
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; 	   
	}
}

.carousel {
	height: 120px;
	overflow: hidden;
	position: relative;
	padding: 12px 40px 0 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1000px !important;
	margin: 0 auto;
}

.carousel ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.carousel ul > li {
	float: left;
}

.carousel ul > li > a {
	width: 107px;
	height: 93px;
	display: block;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.carousel ul > li > a:before {
	width: 107px;
	height: 93px;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	background: url('../img/carousel-active.png') no-repeat;
	content: '';
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=00);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.carousel ul > li > a:hover,
.carousel ul > li > a:hover:before,
.carousel .active,
.carousel .active:before {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.carousel ul > li > a > canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
}

.carousel .bx-wrapper {
	position: relative;
}

.carousel .bx-next {
	right: -40px;
	background: url('../img/arrows.png') no-repeat right top;
}

.carousel .bx-prev {
	left: -40px;
	background: url('../img/arrows.png') no-repeat;
}

.carousel .bx-next,
.carousel .bx-prev {
	width: 16px;
	height: 38px;
	position: absolute;
	top: 50%;
	margin-top: -19px;
}

.carousel .type-1 {
	margin: -40px 0 0 -46px;
}

.carousel .type-2 {
	margin: -38px 0 0 -48px;
}

.carousel .type-3 {
	margin: -42px 0 0 -47px;
}

.content {
	background: url('../img/loader.gif') no-repeat center center;
	position: relative;
	z-index: 20;
}

.content > iframe {
	display: block;
	width: 100%;
	border: 0 none;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	background: #FFFFFF;
}

.content .visible {	
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

header {
	height: 120px;
	background: #000000 url('../img/header.jpg') no-repeat center bottom;
	padding: 0 30px;
	position: relative;
	z-index:30;
}

header.lite {
	z-index: 30;
}

header .header-arrow {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -31px;
	background: url('../img/header-arrow.png') no-repeat;
	width: 63px;
	height: 31px;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin-top: -15px;
}

header.lite .header-arrow {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

header .logo {
/*	width: 161px;
	height: 52px;
	background: url('../img/logo.png') no-repeat;
	float: left; */
	margin: 35px 20px 0 0;
}

header .header-right {
	margin-top: 37px;
	float: right;
}

header .header-right .header-button {
	font-size: 16px;
	line-height: 38px;
	padding: 0 16px;
	height: 39px;
	float: left;
	color: #FFFFFF;
	font-weight: 300;
	text-decoration: none;
	font-family: 'Roboto', 'Arial',sans-serif;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	border: 2px solid #b53a69;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    -webkit-animation: blink 3s linear 3s infinite;
    -moz-animation: blink 3s linear 3s infinite;
    -o-animation: blink 3s linear 3s infinite;
    animation: blink 3s linear 3s infinite;
}

header .header-right .header-button:hover {
text-decoration:none;  background:transparent;  border-color: #ed5685;
-moz-box-shadow: 0 0 5px rgba(255,91,143,.29);    -webkit-box-shadow: 0 0 5px rgba(255,91,143,.29);    box-shadow: 0 0 5px rgba(255,91,143,.29);
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦IwIiB3aWR0aD0iMjM0IiBoZWlnaHQ9IjQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.11) -47.62%, rgba(255,255,255,.11) 52.38%);
background-image: -o-linear-gradient(bottom, rgba(0,0,0,.11) -47.62%, rgba(255,255,255,.11) 52.38%);
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.11) -47.62%, rgba(255,255,255,.11) 52.38%);
background-image: linear-gradient(bottom, rgba(0,0,0,.11) -47.62%, rgba(255,255,255,.11) 52.38%); }

header .header-right .header-button:active, header .header-right .header-button:focus {     border-color: #ed5685;
-moz-box-shadow: 0 0 5px rgba(255,91,143,.35), inset 2px 3px 5px rgba(0,0,0,.22);-webkit-box-shadow: 0 0 5px rgba(255,91,143,.35), inset 2px 3px 5px rgba(0,0,0,.22);box-shadow: 0 0 5px rgba(255,91,143,.35), inset 2px 3px 5px rgba(0,0,0,.22);
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦0iMCIgd2lkdGg9IjIzNCIgaGVpZ2h0PSI0MiIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.11) 23.81%, rgba(0,0,0,.11) 123.81%);
background-image: -o-linear-gradient(bottom, rgba(255,255,255,.11) 23.81%, rgba(0,0,0,.11) 123.81%);
background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.11) 23.81%, rgba(0,0,0,.11) 123.81%);
background-image: linear-gradient(bottom, rgba(255,255,255,.11) 23.81%, rgba(0,0,0,.11) 123.81%);}

header .header-right .header-phone {
	font-size: 24px;
	line-height: 1.5;
	float: left;
	color: #FFFFFF;
	margin-right: 41px;
	/*font-family: 'Playfair Display', 'Times New Roman', serif;*/
}

.t-inp {display:block; width: 100%;-webkit-appearance: none; 	font-family: 'Roboto', 'Arial',sans-serif; font-weight:300;text-align:center;-webkit-box-shadow: inset 1px 2px 2px rgba(0,0,0,.13);	-moz-box-shadow: inset 1px 2px 2px rgba(0,0,0,.13);	box-shadow: inset 1px 2px 2px rgba(0,0,0,.13);
height: 43px; border:none;     padding: 5px 5px;    font-size: 16px;    line-height: 43px; background-color: #fff;  -webkit-border-radius:22px;	-moz-border-radius: 22px;	border-radius: 22px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.form-row {margin:0 auto 12px;width:250px;text-align:center;}
.form-row:after {content:'';display:block;clear:both;}
.form-row .btn {    margin-top: 10px;    padding: 0 34px;}

.pop-up {color:#fff;width:752px;height:930px; no-repeat 0 top;}
.pop-up .form {background:none;    margin: 0 auto;    padding: 77px 28px 0 0; text-align:center;}
.pop-title {font-family: 'Playfair Display', times new roman,  serif;line-height:1;font-size:35px;    padding: 127px 0px 0 0px;    margin: 0 auto;    max-width: 500px;}
.pop-title b {font-size:84px; vertical-align:top;font-weight:400;    line-height: 0.8;    display: inline-block; position: relative;    top: -7px; }
.pop-title span {font-family:'Roboto';font-size:20px;    position: relative;    top: -4px;}

.btn-white {text-transform:uppercase;    margin-top: 10px;box-sizing: border-box;font-family: 'Roboto', sans-serif;font-weight:300;cursor:pointer;     padding: 0 21px;    font-weight: 500; 
    -webkit-transition: all 0.3s ease-in-out 0s;    -moz-transition: all 0.3s ease-in-out 0s;    -o-transition: all 0.3s ease-in-out 0s;    -ms-transition: all 0.3s ease-in-out 0s;    transition: all 0.3s ease-in-out 0s;
  -webkit-border-radius:22px;	-moz-border-radius: 22px;	border-radius: 22px;
  -webkit-box-shadow: 0 0 7px rgba(255,255,255,.35);	-moz-box-shadow: 0 0 7px rgba(255,255,255,.35);	box-shadow: 0 0 7px rgba(255,255,255,.35);
display:inline-block;border: solid 2px #fff;text-align:center; font-size:16px;     line-height: 39px;    height: 43px;color:#ffffff;   
background:#778899;overflow:hidden; text-decoration:none;}

.btn-white:hover {
	background: #1C1C1C;
}

.set-mode {
	position: relative;
	z-index: 8;
	display: none;
}

@media screen and (max-width: 1600px) {

	.set-mode {
		z-index: 7;
	}

}

@media screen and (max-width: 1490px) {

	.set-mode {
		z-index: 6;
	}

}

@media screen and (max-width: 1380px) {

	.set-mode {
		z-index: 5;
	}

}

@media screen and (max-width: 1270px) {

	.set-mode {
		z-index: 4;
	}

}

@media screen and (max-width: 1160px) {

	.set-mode {
		z-index: 3;
	}

}

@media screen and (max-width: 1050px) {

	.set-mode {
		z-index: 2;
	}

}

@media screen and (max-width: 940px) {

	.set-mode {
		z-index: 1;
	}

}
.error{
	border: 2px solid #d5237b;
}
/*notice*/
.notice{
	color: #fff;
	width: 300px;
	margin: 10px auto;
}

#formm .notice{
	margin-top: -3px;
}
.notice .h1 {
    color: #fff;
    font: 500 30px/30px "Roboto",sans-serif; 
	font-weight: bold;
}
.notice p {
    color: #fff;
    font: 300 30px/35px "Roboto",sans-serif;  
	margin-top: 30px;
}
.notice p span {
    display: block;
}
.logo span {
    float: left;
    margin: 15px 0 0 15px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.logo img {
    float: left;
}
.logo {
    width: 347px;
    float: left;
    line-height: 0;
    font-size: 0;
    margin: 0px 0px 0px -4px;
}