<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Pro-Student</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=440, initial-scale=1, maximum-scale=1">

	<!-- <meta property="og:image" content="path/to/image.jpg"> -->
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
</head>

<body>

	<header class="text-w">

		<div class="top-line">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5 hidden-md">
						<div class="top-line__item">
							<div class="top-line__icon"><img src="img/top-line__icon-1.png" alt=""></div>
							<div class="top-line__text">Написание качественых дипломных<br> работ  с гарантией результата!</div>
						</div>
					</div>
					<div class="col-lg-4 hidden-md">
						<div class="top-line__item">
							<div class="top-line__icon"><img src="img/top-line__icon-2.png" alt=""></div>
							<div class="top-line__text">г. Москва, ул. Центральная 1,<br> офис 100</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="top-line__item justify-content-end">
							<div class="top-line__icon"><img src="img/top-line__icon-3.png" alt=""></div>
							<a href="tel:88003332233" class="top-line__number">8 800 333 2233</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="nav">
				<button class="burger">
					<svg id="burger-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
						<title>Show / Hide Navigation</title>
						<rect class="burger-svg__base" width="50" height="50" fill="#0080b0"/>
						<g class="burger-svg__bars" fill="#fff">
							<rect class="burger-svg__bar burger-svg__bar-1" x="14" y="18" width="22" height="2"/>
							<rect class="burger-svg__bar burger-svg__bar-2" x="14" y="24" width="22" height="2"/>
							<rect class="burger-svg__bar burger-svg__bar-3" x="14" y="30" width="22" height="2"/>
						</g>
					</svg>
				</button>
				<nav class="isNavOpen">
					<ul>
						<li><a href="#">Цены и сроки</a></li>
						<li><a href="#">Способы оплаты</a></li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
				<a href="#" class="btn-middle-blue">Заказать работу</a>
			</div>
		</div>

	</header>



	<div class="main-banner text-w">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-7 before-arrow">
					<div class="main-banner_block">
						<img src="img/logo.png" alt="">
						<h4>Курсовая работа<span class="sticher sticher--small-green">от 590 рублей!</span></h4>
						<p>Для всех студентов очного и заочного отделения!<br> Антиплагиат от 75%! Сроки от 1 дня!<br> Доработки бесплатно!</p>
						<a href="#" class="btn-large-orange">Заказать курсовую</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="section section--white" id="services">
		<div class="container">
			<h2>Услуги, которые мы предлагаем</h2>

			<div class="items">
				<div class="item item-services">
					<h4>Контрольная<br> работа</h4>
					<p>Самый популярный вид работ</p>
					<p>10 400 успешно выполненных контрольных - вот, чем мы гордимся!</p>
					<p>Срок от 1 дня</p>
					<p class="item-price">250 рублей</p>
					<a href="#" class="btn-small-orange">Заказать</a>
					<div class="item-circle">
						<div class="item-img">
							<img src="img/item-services_icon-1.png" alt="">
						</div>
					</div>
				</div>
				<div class="item item-services">
					<h4>Курсовая<br> работа</h4>
					<p>Один из наиболее востребованных видов работ</p>
					<p>Наш опыт - более 3470 успешно защищенных курсовых работ!</p>
					<p>Срок от 1 дня</p>
					<p class="item-price">450 рублей</p>
					<a href="#" class="btn-small-green">Заказать</a>
					<div class="item-circle">
						<div class="item-img">
							<img src="img/item-services_icon-2.png" alt="">
						</div>
					</div>
				</div>
				<div class="item item-services">
					<h4>Отчет<br> по практике</h4>
					<p>Преддипломная, ознакомительная, производственная и прочие типы практик</p>
					<p>Мы подготовим отчет на любую из них.</p>
					<p class="item-price">500 рублей</p>
					<a href="#" class="btn-small-blue">Заказать</a>
					<div class="item-circle">
						<div class="item-img">
							<img src="img/item-services_icon-3.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section shares center" id="shares">
		<div class="container">
			<h2 class="text-w"><span class="sticher sticher--shares-blue">Акция!</span></h2>
			<h3>Получите 350 рублей на Ваш заказ прямо сейчас!</h3>

			<!-- timer -->
			<div class="countdown-timer">
				<div class="countdown-container" id="main-example"></div>
			</div>
			<script type="text/template" id="main-example-template">
				<div class="time <%= label %>">
					<span class="count curr top"><%= curr %></span>
					<span class="count next top"><%= next %></span>
					<span class="count next bottom"><%= next %></span>
					<span class="count curr bottom"><%= curr %></span>
					<span class="label"><%= label.length < 6 ? label : label.substr(0,3) %></span>
				</div>
			</script>
			<!-- timer end -->
			
			<a href="#" class="btn-large-orange">Заказать сейчас</a>

		</div>
	</section>

	<section class="section section--white main-about">
		<div class="container">
			<div class="row">
				<div class="col-md-5"><img src="img/main-about.png" alt=""></div>
				<div class="col-md-7">
					<p>Мы гордимся тем, что наши клиенты доверяют нам самое важное.</p>
					<p>Если это учёба в вузе, то мы с радостью окажем все методологическую и практическую помощь в подготовке выпускной квалификационной работы.</p>
					<p>Если это дополнительное образование – наши специалисты подберут наиболее подходящего репетитора или педагога, способного быстро и качественно восполнить имеющиеся пробелы в знаниях.</p>
					<p>Наконец, если вы доверяете нам своих детей – мы сделаем всё, что в наших силах, чтобы подготовить их к выпускным экзаменам в школе (ЕГЭ, ГИА) и вступительным в вузы.</p>
					<p>Мы очень ценим доверие наших клиентов и не останавливаемся на достигнутом, постоянно развиваясь и совершенствуясь вместе с ними!</p>
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p>ВНИМАНИЕ!!!</p>
					<p>Мы не занимаемся незаконными видами деятельности и НЕ предоставляем своим клиентам аттестаты, дипломы и прочие документы об образовании (!)</p>
					<p>Мы действуем в рамках российского законодательства, оказывая методическую помощь в написании учебных работ согласно Ваших требований.</p>
					<p>Право воспользоваться полученными от нас материалами остается исключительно за Вами.</p>
					<p>При оформлении заказа мы высылаем Вам условия сотрудничества.</p>
				</div>
				<div class="col-md-5">
					<img src="img/main-about-2.png" alt="" class="img_2">
				</div>
			</div>
		</div>
	</section>
</section>

<section class="section main-info text-w">
	<div class="container">
		<h2>Мы оказываем <span class="sticher sticher--info-blue">образовательные услуги</span><br> для всех регионов России</h2>

		<div class="info-items">

			<div class="info-item center">
				<div class="info-item__number">12</div>
				<p>Лет на рынке образовательных услуг</p>
			</div>
			<div class="info-item center">
				<div class="info-item__number">247</div>
				<p>Профессиональных педагогов-репетиторов</p>
			</div>
			<div class="info-item center">
				<div class="info-item__number">17 500</div>
				<p>Счастливых клиентов, которые благодарны нам</p>
			</div>
			<div class="info-item center">
				<div class="info-item__number">367</div>
				<p>Клиентов пришедших к нам за один месяц</p>
			</div>

		</div>
	</div>
</section>

<section class="section section--white main-get">
	<div class="container">
		<h2>Что Вы получите, заказав у нас дипломную работу</h2>
		<div class="row justify-content-end">
			<div class="col-md-7">
				<div class="main-get-block">
					<p class="main-get__list"><span>Саму дипломную работу</span></p>
					<p>Написанную по Вашим индивидуальным требованиям, сброшюрованную в твердом переплете.</p>
					<p class="main-get__list"><span>Речь</span> (доклад) <span>на защиту</span> (при стоимости диплома выше 15 т. р. - бесплатно)</p>
					<p>К выступлению перед приемной комиссией, под Вас будет написана специальная речь (доклад) с основными тезисами дипломной работы. Продолжительность 5-7 минут</p>
					<p class="main-get__list"><span>Презентацию в Microsoft Power Point</span> (при стоимости диплома выше 15 т. р. - бесплатно)</p>
					<p>В сопровождение к речи идет презентация, выполненная в 10-15 слайдах Microsoft Power Point</p>
					<p class="main-get__list"><span>Отзыв</span></p>
					<p>Пишем необходимый отзыв к дипломной работе</p>
					<p class="main-get__list"><span>Рецензию</span></p>
					<p>Вы полностью снимаете с себя головную боль!</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section main-reviews">
	<div class="container">
		<h2>Отзывы наших клиентов</h2>
		<div class="items">

			<div class="item item-reviews">
					<h4>Наталья</h4>
					<p>Математический анализ - ад для любого студента. Когда нашей группе дали контрольную работу на дом, я не раздумывая обратилась к специалистам с просьбой помочь в её решении. От положительной оценки за эту работу зависела моя стипендия. И мне удалось сохранить её, за что огромное спасибо!</p>
					<div class="item-circle">
						<div class="item-img">
							<img src="img/main-reviews-1.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="item item-reviews">
					<h4>Ирина</h4>
					<p>Я совмещаю работу и учебу на заочном отделении и у меня катастрофически не хватало времени для написания курсовой работы. Я как всегда оставила всё на последнюю неделю и, когда поняла, что не укладываюсь ни в какие сроки, решила обратиться в компанию. Работу написали быстро и качественно, а мне осталось отучиться всего год и я уже знаю, кто поможет мне с написанием выпускной дипломной!</p>
					<div class="item-circle">
						<div class="item-img">
							<img src="img/main-reviews-2.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="item item-reviews">
					<h4>Светлана</h4>
					<p>Подготовка к госам заняла всё моё свободное время. Чтобы выучить 160 вопросов, я вставал в 6 утра и ложился за полночь. У меня были рекомендации преподавателей, наработки, но не было сил привести это всё в подобающий вид. Специалисты компании сделали всё практически безукоризненно. Идеально оформили, сделали бесплатную презентацию и сэкономили мои силы и нервы.</p>
					<div class="item-circle">
						<div class="item-img">
							<img src="img/main-reviews-3.jpg" alt="">
						</div>
					</div>
				</div>
	
			</div>
		</div>
</section>

<section class="section main-pre-footer center text-w">
	<div class="container">
		<h2>Дипломная работа <span class="sticher sticher--pre-footer-green">от 4 900 рублей!</span></h2>
		<p>АКЦИЯ до 23 февраля: скидка на дипломную 3000 руб +<br> ОТЧЕТ ПО ПРАКТИКЕ В ПОДАРОК БЕСПЛАТНО!</p>
		<a href="#" class="btn-large-blue">Заказать дипломную</a>
	</div>
</section>

<footer>
	<div class="container">
		<div class="footer-flex">
			<div class="footer-item">
				<img src="img/footer-logo.png" alt="">
			</div>
			<div class="footer-item">
				<div class="footer__icon"><img src="img/footer-icon1.png" alt=""></div>
				<div class="footer__text">
					<p>ООО «Про-Студент», 123456, г.Москва, ул. Центральная 1, офис 100<br>ИНН 1234567890     ОГРН 123456789012</p>
					<a href="" class="footer-politica">Политика конфиденциальности</a>
				</div>
			</div>
			<div class="footer-item">
				<div class="footer__icon__number">
					<img src="img/footer-icon2.png" alt="">
					<a href="#" class="footer-number">8 800 333 2233</a>
				</div>
				<p>г. Москва, ул. Центральная 1, офис 100</p>
			</div>
		</div>
	</div>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
<link rel="stylesheet" href="css/main.min.css">
<script src="js/scripts.min.js"></script>

</body>
</html>
